.git
.gitignore
.DS_Store

node_modules
**/node_modules

.next
**/.next

.contentlayer
**/.contentlayer

coverage
**/coverage

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.env
.env.*

.vscode
.idea

*.tsbuildinfo
